.root {
    -fx-font-size: 8pt;
    -fx-font-family: "Cambria";
    -fx-background-image: url("../images/coronavirus.png");
    -fx-background-image-opacity: 0.5;
    -fx-background-size: 100% 100%;

}
.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: white;
    -fx-tick-length: 5;
}
.axis:left {
    -fx-border-color: transparent #0f0f0f transparent transparent;
}
.axis:bottom {
    -fx-border-color: transparent #0f0f0f transparent transparent;
}
.chart {
    -fx-create-symbols: false;
}
.chart-series-line {
    -fx-stroke-width: 3px;
}
.chart-legend {
    -fx-font-size: 15pt;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5px;
 }
.chart-legend-item-symbol {
    -fx-background-radius: 1;
 }
.chart-legend-item {
     -fx-text-fill: white;
 }
 .chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
#exit {
    -fx-font-size: 20;
    -fx-font-family: "Cambria";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: rgb(35, 35, 35);
}
#exit:hover {
    -fx-background-color: red;
    -fx-text-fill: black;
    -fx-scale-y: 1.5;
    -fx-scale-x: 1.5;
}
#exit:pressed {
    -fx-background-color: black;
    -fx-text-fill: gold;
    -fx-scale-y: 1.8;
    -fx-scale-x: 1.8;
}
#text {
    -fx-font-family: "Cambria";
    -fx-fill: gold;
    -fx-stroke-width: 1;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
#box {
    -fx-font-size: 15;
    -fx-font-family: "Cambria";
    -fx-background-color:  rgb(35, 35, 35);
    -fx-text-fill: white;
    -fx-border-color: rgb(110, 0, 0);
    -fx-border-width: 2;
    -fx-border-radius: 1;
    -fx-font-weight: bold;
}
.combo-box .list-cell {
    -fx-font-family: "Cambria";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.combo-box .list-view .list-cell {
    -fx-background-color: rgb(35, 35, 35);
    -fx-font-family: "Cambria";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.combo-box .list-view .list-cell {
    -fx-background-color: rgb(35, 35, 35);
    -fx-font-family: "Cambria";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background: -fx-accent;
    -fx-background-color: red;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: gold;
    -fx-text-fill: -fx-text-inner-color;
}